name: Build and Deploy to Cloud Run

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: hackathon-6aso-grupo-06 
  GAR_LOCATION: ${{ secrets.ARTIFACT_REGISTRY }} 
  SERVICE: backend 
  REGION: ${{ secrets.REGION }} 

jobs:
  deploy:
    # Add 'id-token' with the intended permissions for workload identity federation
    permissions:
      contents: 'read'
      id-token: 'write'

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'



      - name: Docker Login
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
        run: | 
          echo '${{ secrets.GCP_CREDENTIALS }}' > key.json
          cat key.json | docker login -u _json_key --password-stdin https://us-central1-docker.pkg.dev/

      - name: Build and Push Container
        env: 
            CLOUD_SQL_USERNAME: ${{ secrets.SQL_USERNAME }}
            CLOUD_SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
            CLOUD_SQL_DATABASE_NAME: ${{ secrets.SQL_DATABASE_NAME }}
            CLOUD_SQL_CONNECTION_NAME: ${{ secrets.SQL_CONNECTION_NAME }}
        run: |-
          docker build -t "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:${{ github.sha }}" ./
          docker push "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:${{ github.sha }}"

      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v0
        with:
          service: ${{ env.SERVICE }}
          region: ${{ env.REGION }}
          # NOTE: If using a pre-built image, update the image name here
          image: ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:${{ github.sha }}
          
      - name: Show Output
        run: echo ${{ steps.deploy.outputs.url }}
